<%= simple_form_for(@burfday) do |f| %>
<% if @burfday.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@burfday.errors.count, "error") %> prohibited this taco from being saved:</h2>

  <ul>
    <% @burfday.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.label :name %>
  <%= f.input_field :name %>
  <br>
  <%= f.text_field :age, :id => "datepicker" %>
  <br>
  <%= f.label :photo %>
  <%= f.input_field :photo %>
  <br>
  <%= f.label :budget %>
  <%= f.input_field :budget %>
  <br>
  <h2>Additional Info</h2>

  <%= f.input :email, :required => false %>

  <%= f.label :street %>
  <%= f.input_field :street %>

  <%= f.label :city %>
  <%= f.input_field :city %>

  <%= f.label :state %>
  <%= f.input_field :state %>

  <%= f.button :submit, :class => 'btn-primary' %>

<% end %>

<script>
$('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
