<%= simple_form_for(@burfday) do |f| %>
<% if @burfday.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@burfday.errors.count, "error") %> prohibited this taco from being saved:</h2>

  <ul>
    <% @burfday.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.label :name %>
<%= f.input_field :name %>

<%= f.text_field :age, :id => "datepicker" %>

<%= f.label :photo %>
<%= f.input_field :photo %>

<%= f.label :buget %>
<%= f.input_field :budget %>

<h2>Additional Info</h2>

<%= f.label :email %>
<%= f.input_field :email %>

<%= f.label :street %>
<%= f.input_field :street %>

<%= f.label :city %>
<%= f.input_field :city %>

<%= f.label :state %>
<%= f.input_field :state %>



<%= f.button :submit %>

<% end %>

<script>
$('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
