
<% @userburfdays.each do |burfday| %>
Birth Year = <%= burfday.age.year %> for <%= burfday.name %> age <%= burfday.dob %>
<br>
DOB This Year = <%= burfday.dob_this_year %>
<br>
DOB Next Year = <%= burfday.dob_next_year %>
<br>
Days Until Burfday = <%= burfday.days_till_next_bufday %>

<hr>
<%end%>


<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">
      <small><strong>#BURFDAYS</strong></small>
    </h1>
    <div class="text-right">
      <%= link_to new_burfday_path do %>
      <button type="button" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Burfday
      </button>
      <%end%>
    </div>
  </div>


  <div class="panel-body">


    <div class="row">
      <% @userburfdays.each do |burfday| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

          <%= link_to burfday do %>
            <%= image_tag burfday.photo.url(:mug) %>
          <% end %>
          <div class="caption">
            <h2 class="text-center"><%= burfday.name %> <span class="badge badge-success"><%= burfday.dob %></span></h2>
            <div class="text-center">
              <%= link_to 'Edit', edit_burfday_path(burfday), :class => "btn btn-primary text-center", :role => "button" %>
              <%= link_to 'Remove',
              burfday, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-warning' %>
              <% link_to 'Show', burfday %>

            </div>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
