<span id="notice"><%= notice %></span>

<%= image_tag @userburfday.photo %>

<%= link_to 'Edit', edit_burfday_path(@burfday) %> |
<%= link_to 'Back', burfdays_path %>

<%= render 'morecontactinfo' %>
