<div class="col-sm-12">
  <h1 class="logo2">
    <span>#</span><span>H</span><span>A</span><span>P</span><span>P</span><span>Y</span><span>&nbsp</span><span>B</span><span>U</span><span>R</span><span>F</span><span>D</span><span>A</span><span>Y</span><span>S</span><span>&copy;</span>
  </h1>
</div>

<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
<%= devise_error_messages! %>

<div class="form-group">
  <%= f.label :email, class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= f.email_field :email, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <%= render "devise/shared/links" %>
  </div>
</div>
<% end %>
