<!DOCTYPE html>
<html>
<head>
  <title>BurfdayApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/lumen/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
  <% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> | 
  Welcome back <%= current_user.email %>!
  <% end %>
  <div class="container">
<%= yield %>
  </div>
</body>
</html>
